Repository eon-fun/pantheon-sdk-agents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GolemXlV, @k1llzz, @polkadot21, @mrvladd-d

edit pre-commits files
  .pre-commit-config.yaml
Owners: @GolemXlV, @k1llzz, @polkadot21

add code
  pantheon_sdk/agents/abc.py
  pantheon_sdk/agents/bootstrap.py
  pantheon_sdk/agents/models.py
  pantheon_sdk/agents/orchestration/runner.py
  pantheon_sdk/agents/p2p/const.py
  pantheon_sdk/agents/p2p/handlers.py
  pantheon_sdk/agents/p2p/manager.py
  pantheon_sdk/agents/ray_entrypoint.py
Owners: @GolemXlV, @k1llzz, @mrvladd-d

change-handoff
  pantheon_sdk/agents/p2p/const.py
  pantheon_sdk/agents/p2p/handlers.py
  pantheon_sdk/agents/p2p/libp2p/node.py
  tests/p2p/libp2p/test_handoff.py
Owners: @GolemXlV, @k1llzz, @mrvladd-d

fix-lint
  tests/p2p/conftest.py
  tests/p2p/libp2p/test_handoff.py
  tests/p2p/libp2p/test_p2pnode.py
  tests/p2p/test_p2p_manager.py
  tests/test_sdk.py
Owners: @GolemXlV, @k1llzz

fix-tests
  tests/p2p/libp2p/test_handoff.py
  tests/p2p/libp2p/test_p2pnode.py
  tests/test_sdk.py
Owners: @GolemXlV, @k1llzz

fix-precommit-errors
  pantheon_sdk/agents/p2p/const.py
  tests/p2p/conftest.py
  tests/p2p/libp2p/test_handoff.py
  tests/p2p/libp2p/test_p2pnode.py
  tests/p2p/test_p2p_manager.py
  tests/test_sdk.py
Owners: @GolemXlV, @k1llzz, @mrvladd-d

.github/CODEOWNERS:

# This file defines code owners for the PanthEON SDK Agents repository
# Code owners are automatically requested for review when someone opens a PR

* @GolemXlV @k1llzz @polkadot21

/docs/ @GolemXlV @polkadot21 @k1llzz
*.md @GolemXlV @polkadot21 @k1llzz
/README.md @GolemXlV @polkadot21 @k1llzz

/pyproject.toml @GolemXlV @mrvladd-d
/poetry.lock @GolemXlV @mrvladd-d
/.github/ @GolemXlV @mrvladd-d

/tests/ @GolemXlV @k1llzz

/pantheon_sdk/ @GolemXlV @k1llzz @mrvladd-d

/.github/workflows/ @GolemXlV @mrvladd-d

/LICENSE @GolemXlV @k1llzz @polkadot21 @mrvladd-d
