Repository eon-fun/pantheon-sdk-agents, changes with the owners that .github/CODEOWNERS names for each.
All owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

upd
  .github/workflows/release.pantheon-sdk-agents.yml
  .github/workflows/release.python-agent.yml
  .github/workflows/tests.pantheon-sdk-agents.yml
Owners: @golemxiv, @drobotukhin

remove chart
  .bumpversion.toml
Owners: @golemxiv, @k1llzz, @polkadot21

fix version
  src/base_agent/card/config.py
Owners: @golemxiv, @k1llzz

fix bump
  .bumpversion.toml
Owners: @golemxiv, @k1llzz, @polkadot21

fix tag
  .bumpversion.toml
Owners: @golemxiv, @k1llzz, @polkadot21

Bump version of pantheon-sdk-agents: 0.0.1 → 0.0.2
  pyproject.toml
  src/base_agent/card/config.py
Owners: @golemxiv, @drobotukhin, @k1llzz

fix package
  Dockerfile
  pantheon_sdk/agents/bootstrap.py
  pantheon_sdk/agents/orchestration/runner.py
  pantheon_sdk/agents/ray_entrypoint.py
  pantheon_sdk/agents/utils.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

fix bump
  .bumpversion.toml
Owners: @golemxiv, @k1llzz, @polkadot21

Bump version of pantheon-sdk-agents: 0.0.2 → 0.0.3
  .bumpversion.toml
  pantheon_sdk/agents/card/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

upd
  .github/workflows/tests.pantheon-sdk-agents.yml
Owners: @golemxiv, @drobotukhin

add build essential
  Dockerfile
Owners: @golemxiv, @k1llzz, @polkadot21

Bump version of pantheon-sdk-agents: 0.0.3 → 0.0.4
  .bumpversion.toml
  pantheon_sdk/agents/card/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

upd Dockerfile
  Dockerfile
Owners: @golemxiv, @k1llzz, @polkadot21

Bump version of pantheon-sdk-agents: 0.0.4 → 0.0.5
  .bumpversion.toml
  pantheon_sdk/agents/card/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

fix template error
  pantheon_sdk/agents/prompt/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

Bump version of pantheon-sdk-agents: 0.0.5 → 0.0.6
  .bumpversion.toml
  pantheon_sdk/agents/card/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

add high-level diagrams
  docs/architecture/README.md
  docs/architecture/agent-container.md
  docs/architecture/agent-container.puml
  docs/architecture/agent-context.puml
  docs/architecture/images/agent-container.svg
  docs/architecture/images/agent-context.svg
  docs/architecture/sequence.md
Owners: @polkadot21, @k1llzz

Bump version of pantheon-sdk-agents: 0.0.6 → 0.1.0
  .bumpversion.toml
  pantheon_sdk/agents/card/config.py
  pyproject.toml
Owners: @golemxiv, @k1llzz, @polkadot21, @drobotukhin

add code of conduct...
  CODE_OF_CONDUCT.md
Owners: @polkadot21, @k1llzz

.github/CODEOWNERS:

# This file defines code owners for the PanthEON SDK Agents repository
# Code owners are automatically requested for review when someone opens a PR

* @golemxiv @k1llzz @polkadot21

/docs/ @polkadot21 @k1llzz
*.md @polkadot21 @k1llzz
/README.md @polkadot21 @k1llzz

/pyproject.toml @golemxiv @drobotukhin
/poetry.lock @golemxiv @drobotukhin
/.github/ @golemxiv @drobotukhin

/src/ @golemxiv @k1llzz
/base-agent/ @golemxiv @k1llzz
/tests/ @golemxiv @k1llzz

/.github/workflows/ @golemxiv @drobotukhin

/LICENSE @golemxiv @k1llzz @polkadot21 @drobotukhin
